


<template name="currentsites">
    
    <h2 align="center">The last 24h at {{>menu}}  </h2>
<div id="container-chart-reactive" style="width: 100%"></div>


<div class="ui red button">HNET Data Controller</div>
<div class="ui flowing popup top left transition hidden">
  <form class="ui form">
  <!-- <div class="ui fluid search selection dropdown">
  <input type="hidden" name="Sensor">
  <i class="dropdown icon"></i>
  <div class="default text">Select Sensor</div>
  <div class="menu">
  <div class="item" >42i_NO2</div>
  <div class="item" >42i_NOx</div>
  <div class="item" data-value="al">42i_NO</div>
  <div class="item">49i_O3</div>

</div>
</div> -->
   <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Set New Flag</label>
    </div>
  </div> 


  <div class="blue ui buttons">
  <button class="button" id="button1">Update Selected Points in Database</button>
</div>
 
</form>
 </div>
 <div align="right"><a class="ui red tag label" align="right">Selected Points</a></div>

 <div class="ui divided list" id="report" align="right"> </div>

 <div id="container-chart-reactive2" style="width: 100%"></div>


<div class="ui red button">HNET Data Controller</div>
<div class="ui flowing popup top left transition hidden">
  <form class="ui form">
  <!-- <div class="ui fluid search selection dropdown">
  <input type="hidden" name="Sensor">
  <i class="dropdown icon"></i>
  <div class="default text">Select Sensor</div>
  <div class="menu">
  <div class="item" >42i_NO2</div>
  <div class="item" >42i_NOx</div>
  <div class="item" data-value="al">42i_NO</div>
  <div class="item">49i_O3</div>

</div>
</div> -->
   <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Set New Flag</label>
    </div>
  </div> 
  

  <div class="blue ui buttons">
  <button class="button" id="button2">Update Selected Points in Database</button>
</div>
 
</form>
 </div>
 <div align="right"><a class="ui red tag label" align="right">Selected Points</a></div>

 <div class="ui divided list" id="report" align="right"> </div>
 


</template>