<!--
<template name="printplots">
<p>Select the site for which you would like to download data: {{>menu}}</p>
    
<p>What kind of data are you looking for? </p>

    <select id="item">
    <option val="cars">cars</option>
    <option val="phones">phones</option>
    <option val="names">names</option>
    <option val="colors">colors</option>
</select>


    <td>
		  <font size=2>Start Date (YYYY-MM-DD):</font><br>
		  <input type=text name="stdate">
		</td>
		<td>
		  <font size=2>End Date (YYYY-MM-DD):</font><br>
		  <input type=text name="enddate">
		</td>
</template>-->
